fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
pydantic-settings
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
email-validator
python-multipart
pandas
openpyxl
xlrd
langgraph
matplotlib
